@model Sem2_Large_Systems.Models.Job

<h2>Job Details</h2>
<dl class="row">
    <dt class="col-sm-2">Ticket ID</dt>
    <dd class="col-sm-10">@Model.TicketId</dd>

    <dt class="col-sm-2">Status</dt>
    <dd class="col-sm-10">@Model.Status</dd>
</dl>
<a href="@Url.Action("Index", "Job")" class="btn btn-primary">Back to Jobs</a>
